<div class= "registration_wrapper">
  <%= link_to 'TSUNAGU', articles_path, class: "logo" %>

  <div class= "form_box">
    <h2 class= "registration_title">新規登録</h2>

    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %> 
      <%= render "shared/error_messages", model: f.object %>

      <div class="field">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :nickname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :姓 %><br />
        <%= f.text_field :last_name, placeholder:"例) 山田", autofocus: true %><br />
      </div>

      <div class="field">
        <%= f.label :名 %><br />
        <%= f.text_field :first_name, placeholder:"例) 太郎", autofocus: true %><br />
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="registration_button">
        <%= f.submit "登録する", class: "registration_blue_button" %>
      </div>
    <% end %>
  </div>
</div>
