<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tsunagu</title>
  </head>
  <body>

    <%= render "shared/header" %>

    <!-- トップページのメイン -->
    <div class="index_main">
      <div class= "main_message">
        <%= image_tag 'top.jpg', class: "top_image" %>
        <div class= "main_text">
          <h1>49.1%</h1>
          <p>
          これは、昨年検挙された人のうち、過去にも罪を犯したことのある<span>「再犯者」</span>の割合を示しています。<br />
          彼らが再び罪を犯してしまう要因として、前科があることで働きたくても就職できず、収入が得られないことが挙げられます。<br />
          <br />
          「働きたくても仕事が見つからない」「自分に合う仕事を見つけられない」という出所者と、<br />
          前科があっても受け入れる意思のある企業様を繋ぐことを目指します。
          </p>
        </div>
      </div>
      <div class= "article_box">
        <div class= "user_articles">
          <p>お仕事探しに役立つ記事はこちら</p>
            <ul>
              <% @articles.each do |article| %>
                <% if article.sorting_id == 2 %>
                <li class='list'>
                  <h3 class='article_title'>
                    <%= link_to "#{ article.title }", article_path(article.id) %>
                  </h3>                
                <% end %>
                </li>
              <% end %>
            </ul>
        </div>

        <div class= "company_articles">
          <p>更生支援に興味のある企業様に役立つ記事はこちら</p>
            <ul>
              <% @articles.each do |article| %>
                <% if article.sorting_id == 3 %>
                <li class='list'>
                  <h3 class='article_title'>
                    <%= link_to "#{ article.title }", article_path(article.id) %>
                  </h3>                
                <% end %>
                </li>
              <% end %>
            </ul>
        </div>
      </div>
      <div class= "action_buttons">
        <%= link_to '仕事を探す', jobs_path, class: "find_job_button" %>
        <%= link_to '仕事を登録する', new_job_path, class: "register_job_button" %>
      </div>
    </div>

    <%= render "shared/footer" %>

  </body>
</html>
