<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tsunagu</title>
  </head>
  <body>

    <%= render "shared/header" %>

    <!-- トップページのメイン -->
    <div class="index_main">
      <div class= "main_message">
        <%= image_tag 'top.jpg', class: "top_image" %>
        <div class= "main_text">
          <h1>49.1%</h1>
          <p>
          これは、昨年刑法犯で検挙された人のうち、再犯者の割合を示すものです。<br />
          出所後、彼らが再び罪を犯してしまう要因の一つとして、前科を条件に就職できないというものがあります。<br />
          当サイトでは、「働きたくても働く先がない」「仕事の選択肢が少ない」という出所者に対し、<br />
          前科があっても、彼らの更生を支援してくださる方を繋げるための情報提供を行なっていきます。
          </p>
        </div>
      </div>
      <div class= "article_box">
        <div class= "user_articles">
          <p>お仕事探しに役立つ記事はこちら</p>
            <ul>
              <% @articles.each do |article| %>
                <% if article.sorting_id == 2 %>
                <li class='list'>
                  <h3 class='article_title'>
                    <%= link_to "#{ article.title }", article_path(article.id) %>
                  </h3>                
                <% end %>
                </li>
              <% end %>
            </ul>
        </div>

        <div class= "company_articles">
          <p>更生支援に興味のある企業様に役立つ記事はこちら</p>
            <ul>
              <% @articles.each do |article| %>
                <% if article.sorting_id == 3 %>
                <li class='list'>
                  <h3 class='article_title'>
                    <%= link_to "#{ article.title }", article_path(article.id) %>
                  </h3>                
                <% end %>
                </li>
              <% end %>
            </ul>
        </div>
      </div>
      <div class= "action_buttons">
        <%= link_to '仕事を探す', jobs_path, class: "find_job_button" %>
        <%= link_to '仕事を登録する', new_job_path, class: "register_job_button" %>
      </div>
    </div>

    <%= render "shared/footer" %>

  </body>
</html>
