<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tsunagu</title>
  </head>
  <body>

    <%= render "shared/header" %>


    <!-- 詳細画面のメイン -->
    <div class="index_main">
      <div class="article_show">
        <big>
          <%= @article.title %>
        </big>
        <div class="article_content">
          <%= @article.content %>
        </div>
      </div>

      <% if user_signed_in? && current_user.admin? %>
        <div class="admin_only_button">
          <%= link_to '編集する', edit_admin_article_path(@article.id), class: "edit_button" %>
          <%= link_to '削除する', admin_article_path(@article.id), method: :delete, class: "delete_button" %>
        </div>
      <% end %>
    </div>

    <%= render "shared/footer" %>

  </body>
</html>




