<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @offer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @offer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @offer.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @offer.age %>
</p>

<p>
  <strong>Postage:</strong>
  <%= @offer.postage_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @offer.city %>
</p>

<p>
  <strong>House number:</strong>
  <%= @offer.house_number %>
</p>

<p>
  <strong>Building:</strong>
  <%= @offer.building %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @offer.phone_number %>
</p>

<p>
  <strong>Academic career:</strong>
  <%= @offer.academic_career %>
</p>

<p>
  <strong>Work history:</strong>
  <%= @offer.work_history %>
</p>

<p>
  <strong>Appeal:</strong>
  <%= @offer.appeal %>
</p>

<p>
  <strong>User:</strong>
  <%= @offer.user_id_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @offer.job_id_id %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
